body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
  line-height: 1.5;
  margin: 0;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.link {
  text-decoration: none;
  color: var(--navy-blue);
}
.link:hover,
.link:focus {
  color: var(--ocean);
}
.text {
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.sub-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Header*/
.header {
  display: flex;
  border-bottom: 1px solid var(--cornflower);
}
.header-container {
  background-color: var(--white);
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--ocean);
  text-decoration: none;
  margin-right: 76px;
}
.logo-1 {
  color: var(--navy-blue);
}
.navigation {
  align-items: center;
}
nav {
  display: flex;
}
.nav-list {
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
}
.contacts {
  font-weight: 400;
  font-style: normal;
  color: var(--slate);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}
.contacts-list {
  display: flex;
  gap: 40px;
}

/*Hero*/
.title-section {
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}
.title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--white);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
}
/*info*/
.info-section {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.info-container {
  display: flex;
}
.info-list {
  display: flex;
  gap: 24px;
}
.info-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.info-sub-title {
  margin-bottom: 8px;
}
/*team section*/
.team-section {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-text-container {
  padding: 32px 0;
}
.team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  display: block;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-content {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  text-align: center;
}
.team-img {
  box-sizing: border-box;
}
.team-sub-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}

/*portfolio section*/

.portfolio-section {
  margin-top: 120px;
  margin-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.portfolio-content {
  width: calc((100% - 48px) / 3);
  background-color: var(--white);
  border: var(--cornflower);
}
.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/*Footer*/
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-one {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
}
